body {
  overflow-y: scroll;
}

/* global.css */

.rainbow-link {
  text-decoration: none;
  display: inline-block;
}
.rainbow-text {
  color: white;
  background: repeating-linear-gradient(-45deg, rgb(194, 0, 0) 0%, rgb(225, 203, 11) 7.14%, rgb(3, 179, 6) 14.28%, rgb(29, 7, 199) 21.4%, rgb(84, 202, 235) 28.56%, blue 35.7%, rgb(164, 72, 226) 42.84%, rgb(102, 0, 0) 75%);
  background-clip: initial;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 5000s linear infinite forwards;
}

@keyframes slide {
  0% {
    background-position-x: 500%;
  }
  100% {
    background-position-x: 5000vw;
  }
}

.col-left {
  padding: 20px;
  text-align: justify;
  
}
.col-right {
  padding: 20px;
  text-align: justify;
}
